node_modules/
.env
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
.vscode/
*.log
logs/
.nyc_output/
coverage/
.grunt
bower_components/
.lock-wscript
build/Release/
.npm
.eslintcache
.nyc_output/
.cache/
.parcel-cache/
.next/
out/
.nuxt/
dist/
.cache/
.vuepress/dist/
.serverless/
.fusebox/
.dynamodb/
.tern-port
node_modules
firebase-service-account-key.json